@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Comic Book Detail";
}

<section>
    <h1>@ViewBag.SeriesTitle</h1>
    <h2>Issue: #@ViewBag.IssueNumber</h2>
    <div>
        <h3>Description:</h3>
        @Html.Raw(ViewBag.Description)
    </div>
    @if (ViewBag.Artists.Length > 0)
    {
        <div>
            <h3>Artisis:</h3>
            <ul>
                @foreach (var artist in ViewBag.Artists)
                {
                    <li>@artist</li>
                }
            </ul>
        </div>
    }
</section>
